{namespace mbx=Langeland\Mailbox\ViewHelpers}
<f:layout name="Default"/>

<f:section name="Title">Mailbox</f:section>
<f:section name="Content">


	<table class="table table-hover table-striped table-condensed">
		<thead>
		<tr>
			<th>From</th>
			<th>To</th>
			<th>Subject</th>
			<th class="text-right">Received</th>
		</tr>
		</thead>
		<tbody>
		<f:for each="{messages}" as="message">
			<tr class="clickable-row" data-href="{f:uri.action(action:'show', arguments: {message: message})}">
				<td>{mbx:format.email(emails: message.from)}</td>
				<td>{mbx:format.email(emails: message.to)}</td>
				<td>{message.subject}</td>
				<td class="text-right"><f:format.date format="l, j M Y - g:i:s A">{message.date}</f:format.date></td>
			</tr>
		</f:for>
		</tbody>
	</table>





</f:section>